@font-face {
  font-family: "sega";
  src: url("./fontes/dxs-yagi-double_bigfontsite.com.ttf") format("truetype");
}

body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-image: url("./fundo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
}

h1 {
  font-family: "sega";
  margin: 20px 0;
  color: #17569b;
  font-size: 300%;
  text-shadow: 1px 1px 0 white;
}

button {
  font-weight: bold;
  display: inline-block;
  padding: 10px 20px;
  margin: 0px 10px;
  font-size: 1em;
  background-color: #17569b;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 24px;
}

img {
  margin-top: 15px;
  border-radius: 20px;
  border: 10px solid #17569b;
  max-width: 23%;
  display: none;
}
